# Secretos y Configuración
.env
.env.local
!.env.example

# Entornos Virtuales (¡Muy importante!)
venv/
env/
ENV/

# Python (Archivos temporales)
__pycache__/
*.py[cod]
*$py.class

# Frontend (React)
node_modules/
dist/
build/

# Sistema Operativo
.DS_Store
Thumbs.db
*.db
*.pyc
